In [1]:
import pandas as pd

In [14]:
names_lst=["qseqid","sseqid","pident","length","mismatch","gapopen","qstart","qend","sstart","send","evalue","bitscore"]
df=pd.read_csv("query.fna.result2",delimiter='\t',names=names_lst)
print(df.shape)
df.head()

(25128, 12)

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
0,frame2|lcl|NC_018011.1_cds_WP_014774285.1_1.15,WP_009597005.1,32.500,40,27,0,15,54,102,141,0.12,25.8
1,frame2|lcl|NC_018011.1_cds_WP_014774285.1_1.17,WP_039939699.1,31.579,38,26,0,11,48,77,114,0.43,25.4
2,frame3|lcl|NC_018011.1_cds_WP_014774285.1_1.2,WP_009596574.1,40.909,44,22,2,11,54,193,232,0.88,25.8
3,frame4|lcl|NC_018011.1_cds_WP_014774285.1_1.2,WP_014775756.1,42.500,40,21,1,79,116,153,192,0.87,26.6
4,frame5|lcl|NC_018011.1_cds_WP_014774285.1_1.7,WP_009598461.1,72.727,11,3,0,4,14,605,615,0.80,22.3

In [15]:
lst=[]
df["frame"]=[qseqid.split('|')[0] for qseqid in df["qseqid"]]

In [16]:
from collections import Counter
ctr=Counter(df["frame"])
ctr

Counter({'frame2': 5562,
         'frame3': 4154,
         'frame4': 3356,
         'frame5': 6305,
         'frame6': 5751})

In [17]:
df.head()

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore,frame
0,frame2|lcl|NC_018011.1_cds_WP_014774285.1_1.15,WP_009597005.1,32.500,40,27,0,15,54,102,141,0.12,25.8,frame2
1,frame2|lcl|NC_018011.1_cds_WP_014774285.1_1.17,WP_039939699.1,31.579,38,26,0,11,48,77,114,0.43,25.4,frame2
2,frame3|lcl|NC_018011.1_cds_WP_014774285.1_1.2,WP_009596574.1,40.909,44,22,2,11,54,193,232,0.88,25.8,frame3
3,frame4|lcl|NC_018011.1_cds_WP_014774285.1_1.2,WP_014775756.1,42.500,40,21,1,79,116,153,192,0.87,26.6,frame4
4,frame5|lcl|NC_018011.1_cds_WP_014774285.1_1.7,WP_009598461.1,72.727,11,3,0,4,14,605,615,0.80,22.3,frame5

In [18]:

filteredDf.head()

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore,frame
5,frame5|lcl|NC_018011.1_cds_WP_014774285.1_1.25,WP_008141546.1,43.333,30,17,0,15,44,25,54,0.095,25.8,frame5
38,frame5|lcl|NC_018011.1_cds_WP_014774290.1_7.0,WP_014774720.1,46.154,39,16,1,12,45,4,42,0.025,29.6,frame5
41,frame3|lcl|NC_018011.1_cds_WP_009598282.1_8.1,WP_014775000.1,29.412,51,36,0,178,228,110,160,0.079,31.2,frame3
47,frame2|lcl|NC_018011.1_cds_WP_014774291.1_9.11,WP_014776518.1,34.211,38,25,0,29,66,303,340,0.006,30.4,frame2
71,frame6|lcl|NC_018011.1_cds_WP_009598313.1_11.1,WP_042493421.1,34.483,29,19,0,22,50,141,169,0.025,28.1,frame6

483,489,386,480,472,

In [27]:
thres_lst=[1,0.1,0.01,1e-3,1e-4,1e-5]
dct_lst=[]
for thres in thres_lst:
    dct={}
    dct["thres"]=thres
    filteredDf=df[df["evalue"]<thres]
    ctr=Counter(filteredDf["frame"])
    for i in range(2,7):
        dct["frame"+str(i)]=ctr["frame"+str(i)]
    dct_lst.append(dct)

In [29]:
countDf=pd.DataFrame(dct_lst)
countDf

   frame2  frame3  frame4  frame5  frame6    thres
0    5530    4135    3341    6271    5716  1.00000
1     483     489     386     480     472  0.10000
2      56      70      44      47      34  0.01000
3      22      33      15      10       9  0.00100
4      18      27      10       6       5  0.00010
5      12      23       6       6       3  0.00001

In [30]:
dct_lst

[{'frame2': 5530,
  'frame3': 4135,
  'frame4': 3341,
  'frame5': 6271,
  'frame6': 5716,
  'thres': 1},
 {'frame2': 483,
  'frame3': 489,
  'frame4': 386,
  'frame5': 480,
  'frame6': 472,
  'thres': 0.1},
 {'frame2': 56,
  'frame3': 70,
  'frame4': 44,
  'frame5': 47,
  'frame6': 34,
  'thres': 0.01},
 {'frame2': 22,
  'frame3': 33,
  'frame4': 15,
  'frame5': 10,
  'frame6': 9,
  'thres': 0.001},
 {'frame2': 18,
  'frame3': 27,
  'frame4': 10,
  'frame5': 6,
  'frame6': 5,
  'thres': 0.0001},
 {'frame2': 12,
  'frame3': 23,
  'frame4': 6,
  'frame5': 6,
  'frame6': 3,
  'thres': 1e-05}]